<form (ngSubmit)="onSubmit()"
      [formGroup]="profileForm" xmlns="http://www.w3.org/1999/html">
  <label for="email">
    Email
  </label>
  <input formControlName="email" id="email">
  <label for="username">
    Username
  </label>
  <input formControlName="username" id="username">
  <label for="password">
    Password
  </label>
  <input formControlName="password" id="password">
  <button type="submit">Register</button>
  <p>Already have an account? <a routerLink="/login">Sign In.</a></p>
</form>
